asgiref==1.1.2
attrs==19.3.0
autobahn==20.12.3
Automat==20.2.0
cffi==1.12.2
configparser==3.5.0
constantly==15.1.0
cryptography==2.9.2
Django==1.11.17
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
pycparser==2.20
PyHamcrest==2.0.2
pytz==2020.1
six==1.14.0
Twisted==20.3.0
txaio==20.4.1
zope.interface==5.1.0
asn1crypto==0.24.0
blessings==1.6.1
bpython==0.19
certifi==2020.4.5.1
chardet==3.0.4
curtsies==0.3.1
djangorestframework==3.11.0
Faker==4.0.3
greenlet==0.4.15
Pygments==2.6.1
python-dateutil==2.8.1
requests==2.23.0
text-unidecode==1.3
ua-parser==0.3.6
urllib3==1.25.9
wcwidth==0.1.9